.main {
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
  
}

.logo {
  display: flex;
  position: absolute;
  margin-left: -14.5rem;
  top: 15rem;
  left: 15rem;
  color: rgb(255, 255, 255);
  font-size: 6rem;
  font-family: 'Tilt Prism', cursive;
  background-color: rgba(5, 5, 5, 0.466);
  align-items: center;
  justify-content: center;
  width: 33vw;
 
}

.logo > p {

}

.logo > img {
  width: 5rem;
  height: 7rem;
}

.right {
  display: flex;
  flex-direction: column;
  width: 67vw;
  background-color: aliceblue;
  
}

.left {
  width: 33vw;
}


.top {
  padding-left: 2rem;
  padding-top: 5rem;
  height: 33vh;
  background-color: aliceblue;

  
}

.top > p {
  width: 55vw;
  font-size: 35px;
  font-weight: bold;
 
}

.middle {
  padding: 1rem 2rem;
  display: block;
  height: 33vh;
  background-color: white;
  border-bottom: solid thin light gray;
  box-shadow: 0px -2px 10px rgb(184, 184, 184);
  box-shadow: 0px  2px 10px rgb(184, 184, 184);
}



input {
  width: 15rem;
  height: 1.5rem;
  border: solid thin;
  border-radius: 5px;
  border-color: lightgray;
  background-color: rgba(247, 244, 207, 0.336);
}

.name {
  display: flex;
}

.contact {
  display: flex;
  padding-top: 2rem;
}

.enterpassword {
  display: flex;
  padding-top: 2rem;
}

.firstname {
  display: flex;
  flex-direction: column;
  
}

.lastname {
  display: flex;
  flex-direction: column;
  padding-left: 4rem;
}

.email {
  display: flex;
  flex-direction: column;
}

.email > input:valid {
  outline: solid thin green;
}

.email > input:invalid {
  outline: solid thin red;
}

.phone {
  display: flex;
  flex-direction: column;
  padding-left: 4rem;
}

.phone > input:invalid {
  outline: solid thin red;
}

.phone > input:valid {
  outline: solid thin green;
}

.password {
  display: flex;
  flex-direction: column;
}

.password > input:invalid {
  outline: solid thin red;
}

.password > input:valid {
  outline: solid thin green;
}


.confirm {
  display: flex;
  flex-direction: column;
  padding-left: 4rem;
}

.confirm > input:invalid {
  outline: solid thin red;
}

.confirm > input:valid {
  outline: solid thin green;
}


.bottom {
  padding-left: 2rem;
  padding-top: 2rem;
  height: 33vh;
  background-color: aliceblue;
  /* border-top: solid thin light gray;
  box-shadow: 0px -5px 5px rgb(184, 184, 184); */
}

.bottom > button {
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 15px 35px;
  background-color: rgb(126, 150, 126);
  border: thin;
  border-radius: 10px;
  box-shadow: 3px 3px rgba(180, 179, 179, 0.281);
}

